<form action="">
  <div class="d-flex flex-row align-items-center justify-content-around">
    <div class="d-flex flex-column">
      <label for="newItem-city" class="col-form-label">New {{ label }}</label>
    </div>
    <div class="d-flex flex-column">
      <input type="text" id="newItem" class="form-control" #newItem />
    </div>
    <div class="d-flex flex-column">
      <button
        (click)="onAddNewItem(newItem.value)"
        class="btn btn-warning button-3d"
      >
        Add {{ label }}
      </button>
    </div>
  </div>
</form>
