<hello control name="{{ name }}" *ngIf="name"></hello>
<h2>{{ title }}</h2>
<img [src]="imgUrl" alt="{{ imgAlt }}" />
<BR />
<div class="d-flex flex-row justify-content-center align-items-center m-1 p-0">
  <input
    control
    type="text"
    [(ngModel)]="name"
    class="input-sosoroso"
    placeholder="PINAR DE ROCHA"
  />
</div>

<app-form-new-item [label]="'sasarasa'"></app-form-new-item>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-unstyled">
        <!-- El ngFor va en el elemento que queremos que se repita -->
        <li
          *ngFor="let city of cities"
          (click)="onCityClicked(city.name)"
          [ngClass]="{
            'alert alert-success': city.name === 'Lima',
            'alert alert-primary': city.name !== 'Lima'
          }"
        >
          {{ city.name }}<span *ngIf="city.country">, {{ city.country }}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div *ngIf="selection">
        <p>Your city is: {{ selection }}</p>
        <!-- <button  (click)="onClear()">Clear</button> -->
        <app-button
          (click)="onClear()"
          [color]="'blue'"
          [label]="'Clear your selection'"
          [ngClass]="{}"
        ></app-button>
      </div>
    </div>
  </div>
</div>
